---
layout: default
---

<div class='post'>
  <h1 class='title'>{{ page.title }}</h1>
  <p class='meta'>{{ page.date | date_to_string }}</p>

  <div class='content'>
  {{ content }}
  </div>

  <div class="social-share">
    {% include category_links.html %}
  </div>

  <div id='post-footer'>
    {% include post_nav.html %}
  </div>

  {% include disqus.html %}
</div>

{% if page.onelink %}
<div id="amzn-assoc-ad-d9a5a519-de10-4b95-9fa6-846684197605"></div>
<script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=d9a5a519-de10-4b95-9fa6-846684197605"></script>
{% endif %}
